* {
    margin: 0;
    padding: 0;

}
h1{
    background-color: #070738;
    height: 7rem;
    font-size: 3rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.choice{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
}


.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;

}
.score{
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#user-score , #comp-score{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.msg-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}